<mat-toolbar color='primary'>
  <span style="margin-left: 1rem;">Crud de Usuário</span>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
   <mat-tab label="Cadastrar Usuário" >
     <app-sigin></app-sigin>
  </mat-tab>

  <mat-tab class="line-bottom-green" label="Listar Usuário">
    Listar Usuário
  </mat-tab>

  <mat-tab class="line-bottom-green" label="Buscar Usuário">
    <app-search></app-search>
  </mat-tab>

  <mat-tab class="line-bottom-green" label="Atualizar Usuário">
    Atualizar Usuário
  </mat-tab>
</mat-tab-group>
