.mat-tab-group {
  color: #00A85A;
  margin-bottom: 48px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #00A85A;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background: #00A85A !important;
}
