<section class="row w-100 h-100">
    <div class="col-12">
      <section class="row w-100">
        <div class="col-12 col-md-2">
          <div class="left-nav">
            <mat-action-list>
              <button mat-list-item (click)="goToList()"> Listar Cursos </button>
              <button mat-list-item (click)="goToCreate()"> Cadastrar Curso </button>
            </mat-action-list>
          </div>
        </div>
  
        <div class="col-12 col-md-10">
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    </div>
  </section>