<div id="line"></div>
<mat-card class="w-100" id="footer">
  <section class="w-100">
    <div id="photos" class="row">
      <div class="col-12 col-md-2">
        <img class="img1 w-100" src="../../../../assets/images/pictures/ifam-alunos4.jpg" alt="frente do ifam"/>
      </div>

      <div class="col-12 col-md-2">
        <img class="img2 w-100" src="../../../../assets/images/pictures/ifam-alunos5.jpg" alt="frente do ifam"/>
      </div>

      <div class="col-12 col-md-2">
        <img class="img3 w-100" src="../../../../assets/images/pictures/ifam-alunos3.jpg" alt="frente do ifam"/>
      </div>

      <div class="col-12 col-md-2">
        <img class="img4 w-100" src="../../../../assets/images/pictures/ifam-alunos1.jpg" alt="frente do ifam"/>
      </div>

      <div class="col-12 col-md-2">
        <img class="img5 w-100" src="../../../../assets/images/pictures/ifam-alunos2.jpg" alt="frente do ifam"/>
      </div>

      <div class="col-12 col-md-2">
        <img class="img5 w-100" src="../../../../assets/images/pictures/ifam-alunos6.jpg" alt="frente do ifam"/>
      </div>
    </div>

    <div class="row texts">
      <div class="col-12 col-md-4">
        <p>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021
        </p>
      </div>

      <div class="col-12 col-md-4">
        <p>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021
        </p>
      </div>

      <div class="col-12 col-md-4">
        <p>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021<br>
          SisFIC - Sistema de Gerenciamento FIC 2021
        </p>
      </div>
    </div>
  </section>
</mat-card>
