.left-nav {
  background-color: #00A85A;
  width: 80%;
  height: 100vh;
  margin-bottom: 0%;
  padding-bottom: 0;
}

.mat-list-item {
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}
