<section id="content">
  <div id="buttons" class="row">
    <div class="col-12 col-md-4 button-padding">
      <button mat-button (click)="goToList()" class="button w-100 mat-elevation-z2"> Listar Turmas </button>
    </div>

    <div class="col-12 col-md-4 button-padding">
      <button mat-button (click)="goToCreate()" class="button w-100 mat-elevation-z2"> Cadastrar Turma </button>
    </div>

    <div class="col-12 col-md-4 button-padding">
      <button mat-button class="button w-100 mat-elevation-z2"> Matricular Aluno </button>
    </div>
  </div>

  <router-outlet name="turma"></router-outlet>

 </section>
