/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; height: auto; margin-bottom: 0; padding-bottom: 0; overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
