<div class="aligin-center">
  <h1> Criar Usuário</h1>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input id="nome" matInput placeholder="Ex. João Lucas Silva" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input id="email" matInput placeholder="Ex. exemplo@gmail.com" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Usuário</mat-label>
      <input id="username" matInput placeholder="Ex. joaomarcos" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input id="password" type="password" matInput required>
    </mat-form-field>

    <button type="buttom" class="btn-sigin" mat-raised-button color="primary">Cadastrar</button>
  </form>
</div>
