<div class="aligin-center">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input id="email" matInput placeholder="Ex. exemplo@gmail.com">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Usuário</mat-label>
      <input id="username" matInput placeholder="Ex. joaomarcos">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input id="password" type="password" matInput>
    </mat-form-field>

    <button class="btn-sigin" mat-raised-button color="primary">Cadastrar</button>
  </form>
</div>
