<mat-card id="title-table"> Lista de Turmas </mat-card>
<mat-card class="example-container mat-elevation-z8 out-tab">
  <form class="example-form input-position">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Buscar turma</mat-label>
      <input matInput placeholder="Digite o ID ou nome">
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="goToCreate()" id="search-button">Cadastrar Turma</button>

  <div class="example-table-container">
    <table mat-table [dataSource]="listTurmas" multiTemplateDataRows matSort class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome da Turma </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!-- Curso Column -->
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let element"> {{element.curso['nome']}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Data de Início </th>
        <td mat-cell *matCellDef="let element"> {{element.dataInicio}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> Data de Fim </th>
        <td mat-cell *matCellDef="let element"> {{element.dataFim}} </td>
      </ng-container>

       <!-- See Column -->
       <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</mat-card>

